<div id="voteonline">
<hr />

<ul id="route">
<{foreach from=$route item=node name=route}>
	<li <{if $smarty.foreach.route.first}>id="route0"<{else}>class="route1"<{/if}>><a href="<{$node.path}>" title="<{$node.title}>"><{$node.title}></a></li>
<{/foreach}>
</ul>

<hr />

<h2><{$module.name}></h2>

<h3><{$page.title}></h3>

<form method="post" action="<{$smarty.server.REQUEST_URI}>" enctype="multipart/form-data">
<fieldset>
<legend>
<{$page.title}>
</legend>

<{if $page.action == 'tp_add' || $page.action == 'tp_modify'}>
<dl>
<dt><label for="types"><{$smarty.const._MI_VOTEOL_ELCTMANAGE_ELCTTYPES}></label></dt>
<dd><input type="text" id="types" class="inputwidthln" name="types" value="<{$page.types}>" /></dd>
</dl>
<{/if}>

<{if $page.action == 'cdd_add' || $page.action == 'cdd_modify'}>
<dl>
<dt><label for="tpid"><{$smarty.const._MI_VOTEOL_ELCTMANAGE_ELCTTYPES}></label></dt>
<dd>
<select name="tpid">
<{html_options options=$page.tp_options selected=$page.candidate.tpid}>
</select>
</dd>
<dt><label for="nb"><{$smarty.const._MI_VOTEOL_ELCTTPCDD_CANDIDATENB}></label></dt>
<dd><input type="text" id="nb" class="inputwidthst" name="nb" value="<{$page.candidate.nb}>" /></dd>
<dt><label for="name"><{$smarty.const._MI_VOTEOL_ELCTMANAGE_ELCTCANDIDATE}></label></dt>
<dd><input type="text" id="name" class="inputwidthln" name="name" value="<{$page.candidate.name}>" /></dd>
<dt><label for="photo"><{$smarty.const._MI_VOTEOL_ELCTTPCDD_CANDIDATEPHOTOT}></dt>
<dd><input type="file" id="photo" name="photo" class="inputwidthln" /></dd>
</dl>
<{/if}>

<{if $page.action == 'gdcl_add' || $page.action == 'gdcl_modify'}>
<select name="gd">
<{html_options output=$page.grade values=$page.grade selected=$page.gdcl[0]}>
</select>
<{$smarty.const._MI_VOTEOL_ELCTTPCDD_GRADE}>&nbsp;&nbsp;
<select name="cl">
<{html_options output=$page.class values=$page.class selected=$page.gdcl[1]}>
</select>
<{$smarty.const._MI_VOTEOL_ELCTTPCDD_CLASS}>&nbsp;&nbsp;
<{$smarty.const._MI_VOTEOL_ELCTTPCDD_TEACHER}>
<select name="uid">
<{html_options options=$page.teachers selected=$gradeclass_setting.uid}>
</select>
<{/if}>

<{if $page.action == 'blt'}>
<dl>
<dt><{$smarty.const._MI_VOTEOL_ELCTMANAGE_ELCTBLT}></dt>
<dd><textarea id="bulletin" name="bulletin"><{$election_setting.bulletin}></textarea></dd>
</dl>
<{/if}>

<input type="submit" value="<{$smarty.const._SEND}>" /><input type="hidden" name="submit" value="1" />

</fieldset>
</form>

<hr />
</div>
